.btn {
  &-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: transparent;
    transition: 0.33s;
    &:hover {
      opacity: 0.8;
      transform: scale(0.9);
    }
  }
  &-ellipse {
    &--slider {
    }
  }
  // BUTTONS
  &-burger {
    background-image: url('../img/burger.svg');
    &-close {
      background-image: url('../img/cross.svg');
      @media (min-width: 1440px) {
        display: none;
      }
    }
  }
  &-call {
    background-image: url('../img/call.svg');
    &-close {
      background-image: url('../img/cross.svg');
    }
  }
  &-side-call {
    background-image: url('../img/call.svg');
  }
  &-message {
    background-image: url('../img/chat.svg');
    &-close {
      background-image: url('../img/cross.svg');
    }
  }
  &-side-message {
    background-image: url('../img/chat.svg');
  }
  &-checkstatus {
    background-image: url('../img/checkstatus.svg');
  }
  &-profile {
    background-image: url('../img/profile.svg');
  }
  &-repair {
    background-image: url('../img/repair.svg');
  }
  &-search {
    background-image: url('../img/search.svg');
  }
  &-lang {
    color: #1b1c21;
    font-family: 'TT Lakes';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    border: none;
    background-color: transparent;
    outline: none;
    transition: 0.33s;
    &:hover {
      opacity: 0.8;
      transform: scale(0.9);
    }
  }
}

.btn-expand-readmore {
  // margin-left: 24px;
  border: transparent;
  background-color: transparent;
  display: flex;
  gap: 8px;
  color: #1b1c21;
  font-family: 'TT Lakes';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  transition: 0.33s;
  &:hover {
    opacity: 0.8;
    transform: scale(0.9);
  }
  &__icon {
    height: 24px;
    width: 24px;
    background-image: url('../img/expand.svg');
  }
  &__inner {
  }
  @media (min-width: 768px) {
    margin-left: 24px;
  }
  @media (min-width: 1440px) {
    margin-left: 32px;
  }
}

.btn-expand-brands {
  // margin-left: 24px;
  border: transparent;
  background-color: transparent;
  display: flex;
  gap: 8px;
  color: #1b1c21;
  font-family: 'TT Lakes';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  transition: 0.33s;
  &:hover {
    opacity: 0.8;
    transform: scale(0.9);
  }
  &__icon {
    height: 24px;
    width: 24px;
    background-image: url('../img/expand.svg');
  }
  &__inner {
  }
  @media (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
  @media (min-width: 768px) {
    margin-left: 24px;
  }
  @media (min-width: 1440px) {
    margin-left: 32px;
  }
}

.btn-expand-electronics {
  // margin-left: 24px;
  border: transparent;
  background-color: transparent;
  display: flex;
  gap: 8px;
  color: #1b1c21;
  font-family: 'TT Lakes';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  transition: 0.33s;
  &:hover {
    opacity: 0.8;
    transform: scale(0.9);
  }
  &__icon {
    height: 24px;
    width: 24px;
    background-image: url('../img/expand.svg');
  }
  &__inner {
  }
  @media (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
  @media (min-width: 768px) {
    margin-left: 24px;
  }
  @media (min-width: 1440px) {
    margin-left: 32px;
  }
}

// <button class="side-call__button">
//             ОТПРАВИТЬ
//             <span class="side-call__icon side-call__icon--dropdown"></span>
//           </button>

.btn-offer {
  max-width: 192px;
  display: block;
  position: relative;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.2px;
  transition: 0.33s;
  @media (min-width: 768px) {
    font-size: 16px;
    max-width: 316px;
  }
  &:hover {
    color: #7e7e82;
    opacity: 0.8;
    transform: scale(0.9);
  }
  &:active {
    color: #7e7e82;
  }
  &__icon {
    display: block;
    width: 24px;
    height: 27.49px;
    background-image: url('../img/arrow_more.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 100px;
    bottom: -3px;
    @media (min-width: 768px) {
      left: 289px;
      bottom: -2px;
    }
  }
}

.side-call {
  &__button {
    color: #ffffff;
    background: #ff3e79;
    font-size: 12px;
    padding: 4px;
    padding-left: 14px;
    width: 136px;
    height: 32px;
    border-radius: 16px;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
    align-self: flex-end;
    transition: 0.33s;
    &:hover {
      opacity: 0.8;
      transform: scale(0.9);
    }
  }
  &__icon {
    width: 40px;
    height: 40px;
    border: transparent;
    border-radius: 50%;
    // background: url(../img/cross.svg) no-repeat 50% 50%;
    // background-color: #ff3e79;
    transition: 0.33s;
    &__icon:hover {
      opacity: 0.8;
      transform: scale(0.9);
    }
  }
  &__icon--dropdown {
    height: 24px;
    width: 24px;
    background: url(../img/arrow_right_transparent.svg) no-repeat 50% 50%;
  }
}

.btn-order {
  color: #ffffff;
  background: #ff3e79;
  font-size: 12px;
  padding: 4px;
  padding-left: 14px;
  width: 136px;
  height: 32px;
  border-radius: 16px;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
  // align-self: flex-end;
  transition: 0.33s;
  &:hover {
    opacity: 0.8;
    transform: scale(0.9);
  }
  &__icon {
    height: 24px;
    width: 24px;
    background: url(../img/arrow_right_transparent.svg) no-repeat 50% 50%;
    border: transparent;
    border-radius: 50%;
    // background-color: #ff3e79;
    transition: 0.33s;
    &__icon:hover {
      opacity: 0.8;
      transform: scale(0.9);
    }
  }
}
