.ic-burger {
  background-image: url('../img/burger.svg');
  width: 40px;
  height: 40px;
}

.ic-call {
  background-image: url('../img/call.svg');
  width: 40px;
  height: 40px;
}

.ic-chat {
  background-image: url('../img/chat.svg');
  width: 40px;
  height: 40px;
}

.ic-checkstatus {
  background-image: url('../img/checkstatus.svg');
  width: 40px;
  height: 40px;
}

.ic-cross {
  background-image: url("../img/cross.svg");
}

.ic-profile {
  background-image: url('../img/profile.svg');
  width: 40px;
  height: 40px;
}

.ic-repair {
  background-image: url('../img/repair.svg');
  width: 40px;
  height: 40px;
}

.ic-search {
  background-image: url("../img/search.svg");
}

.ic-expand {
  background-image: url('../img/expand.svg');
  width: 24px;
  height: 24px;
}

// .sidebar-logo {
//   height: 51px;
//   position: absolute;
//   left: 79.73px;
//   transition: 1s;
//   &:hover {
//     scale: 1.25; /* transform: scale(125%); */
//   }
// }