.conditions {
  border-bottom: 1px solid #D9FFF5;
	padding-bottom: 40px;

	&__text {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.2px;
		user-select: none;
	}

	&__text--mg {
		margin-bottom: 16px;
	}
}

@media (min-width: 768px) {
	.conditions {
		padding-bottom: 47px;

		&__text {
			max-width: 421px;
		}
	}
}

@media (min-width: 1440px) {
	.conditions {
		padding-bottom: 50px;
	}
}