.header {
  height: 88px;
  padding: 0 16px;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  // position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #d9fff5;
  @media (min-width: 768px) {

    padding: 0 24px;
    height: 88px;
  }
  @media (min-width: 1120px) {
    display: none;
  }

  &__contact {
    display: none;
    justify-content: space-between;
    gap: 16px;
    margin-right: 20px;
    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__repair {
    display: flex;
    gap: 16px;    
  }
}
