.sidebar {
  width: 320px;
  height: 100%;
  min-height: 770px; /* предотвращает наложение footer на menu*/
  position: absolute;
  top: 0;
  background: #fff;
  // box-shadow: -2px 0px 4px 0px rgba(69, 79, 126, 0.02), 16px 0px 52px 0px rgba(14, 24, 80, 0.20);
  // box-shadow: 5px 0 30px 0 #1b1c215f;
  transition: 1s;

  z-index: 10;

  @media (min-width: 0px) and (max-width: 767px) {
    transition: 1s;
    left: -375px;
    box-shadow: -2px 0px 4px 0px rgba(69, 79, 126, 0.02),
      16px 0px 52px 0px rgba(14, 24, 80, 0.2);
    box-shadow: 5px 0 30px 0 #1b1c215f;
  }
  @media (min-width: 767px) and (max-width: 1439px) {
    transition: all 1s;
    left: -375px;
    box-shadow: -2px 0px 4px 0px rgba(69, 79, 126, 0.02),
      16px 0px 52px 0px rgba(14, 24, 80, 0.2);

    box-shadow: 5px 0 30px 0 #1b1c215f;
  }

  @media (min-width: 1440px) {
    box-shadow: none;
    left: 0;
  }
}
