.sidebar-header {
  height: 86px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-wrapper {
    display: flex;
    align-items: center;
    gap: 16.73px
  }
}